.company-formation{
    background-color: white;
}
.company-formation .box-container{
    padding: 10px 5%;
}
.company-formation .box-container h1{
    color: red;
    text-align: center;
}
.company-formation button{
    background-color: rgb(91, 89, 89);
    color: white;
    width:200px;
    padding: 8px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}