.llp-registration{
    background-color: white;
}
.llp-registration .box-container{
    padding: 10px 5%;
}
.llp-registration .box-container h1{
    color: red;
    text-align: center;
    margin: 10px 0px;
}
.llp-registration .box-container h2{
    color: black;
    margin-bottom: 10px;
}
.llp-registration .box-container p{
    color: black;
    margin-bottom: 10px;
}
.llp-registration .box-container ol li{
    color: black;
    margin-left: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}