.pvt-ltd-registration{
    background-color: white;
}
.pvt-ltd-registration .box-container{
    padding: 10px 5%;
}
.pvt-ltd-registration .box-container h1{
    color: red;
    text-align: center;
    margin: 10px 0px;
}
.bi{
    width: 1.75em;
    height: 1.75em;
}